*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100%;
    width: 100%;
    position: absolute;
}

.head a{
  text-decoration: none;
  color: #232b2b;
  display: inline-block;

}
.head a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #232b2b;
    transition: width .3s;
}
.head a:hover::after{
  width: 100%;
}

.head{
  padding-top: 20px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  background-color: #707070;
  height: 8vh;
}
.head .thm{
  display: inline;
  float: right;
  margin: 0;
}

.head span{
  padding: 10px;
  font-family:  sans-serif;
}

.articles-section{
  margin-top: 20px;
  height: 50bh;
}
.articles-section h2{
  font-weight: normal;
  color: #007bff;
  font-size: 25px;
}
.articles-section h2::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #007bff;
  transition: width .3s;
}
.articles-section h2:hover::after{
width: 150px;
}


  @media screen and (max-width : 476px){
      .container .text{
          font-size: 40px;
        }
        .container .section-01 a{
          font-size: 15px;
        }
        .container .section-01{
          left: 10%;
        }
      .point-01,.point-02,.point-03{
          display: none;
      }
      .container .text p{
        font-size: 25px;
  }                     
  }    
