*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: #111;
}

.container{
    height: 100%;
    width: 100%;
}
.head .my-pic img{
  float: right;
  height: 120px;
  border-radius: 30px;
  margin-top: -40px;
  margin-right: 20px;
  transition: transform 1s;
}
.head .my-pic img:hover{
  transform: rotate(10deg); 
}

.head a{
  text-decoration: none;
  color: #ccbeaf;
  display: inline-block;

}
.head a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ccbeaf;
    transition: width .3s;
}
.head a:hover::after{
  width: 100%;
}

.head{
  padding-top: 20px;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  height: 8vh;
}


.head span{
  padding: 10px;
  font-family:  sans-serif;
}

.parents{
  height: 60vh;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parents h2{
  font-family: 'Open Sans', sans-serif;
  color: #fb9904;
  font-size: 45px;
}

.parents h2::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fb9904;
  transition: width .3s;
}
.parents h2:hover::after{
width: 100%;
}

.childs{
  margin-top: 20px;
  border: #fb9904 solid 3px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 25px;
}
.childs h3{
  text-align: center;
  font-size: 35px;
  color: #ccbeaf;
}
.childs p{
  color: #ccbeaf;
  font-size: 25px;
  margin-top: 50px;
}




  @media screen and (max-width : 510px){
    .head{
      margin: 25px;
      text-decoration: none;
      color: #ccbeaf;
      display: flex;
      flex-direction: column;
    } 
    
  }    
