*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: #111;
}

.container{
    height: 100%;
    width: 100%;
    position: absolute;
    
}

.head a{
  text-decoration: none;
  color: #ccbeaf;
  display: inline-block;
  font-family: 'Roboto', sans-serif;

}
.head a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ccbeaf;
    transition: width .3s;
}
.head a:hover::after{
  width: 100%;
}

.head{
  padding-top: 20px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  height: 8vh;
}
.head .thm{
  display: inline;
  float: right;
  margin: 0;
}

.head span{
  padding: 10px;
  font-family:  sans-serif;
}
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.child{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: #fb9904 ;
}
.parent .child::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fb9904;
  transition: width .3s;
}
.parent .child:hover::after{
width: 100%;
}
.container img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 10px;
}
img.displayed1{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.displayed2{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.displayed3{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.displayed4{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.displayed5{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.article h2{
  display: inline-block;
  font-weight: normal;
  font-size: 35px;
  color:  #ccbeaf;
  font-family: 'Open Sans', sans-serif;
}

.article p{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-family: 'Lora', serif;  
  font-size: 25px;
  width: 45%;
  color: #ccbeaf;
}
 .surl::after{
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background:  #ccbeaf;
  transition: width .3s;
}
 .surl:hover::after{
width: 100%;
}
.parents{
  display: flex;
  justify-content: center;
  align-items: center;
}
.surl{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: #fb9904 ;
}
@media screen and (max-width : 510px){
  .head{
    margin: 25px;
    text-decoration: none;
    color: #ccbeaf;
    display: flex;
    flex-direction: column;
  } 
  
}    
