.container {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}
.container .info{
    text-align: center;
    font-size: 1.5rem;
    color: #2f333e;
    font-family: 'Poppins';

}
.container .info.dark{
    color: white;
}
.articles {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.articles-content a {
    text-decoration: none;
}
.articles-content{
    width: 70%;
    margin: 0 auto 0 auto;
}
.articles-content h1{
    color: #2f333e;
    margin-bottom: 20px;
}
.articles-content h1.dark{
    color: white;
}
.articles-content p{
    font-size: 1.3rem;
    text-align: justify;
    width: 75%;
    font-family: 'Poppins';
}
.articles-content p.dark{
    color: white;
}
.articles-content .more-info ul li{
    list-style: none;
}
.articles-content .more-info ul{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.articles-content .more-info li{
    margin-left: 30px;
    color: #6D4AFF;
    font-family: 'Poppins';
}
.articles-content .more-info li:first-child{
    margin-left: 0;
}
.articles hr{
    margin-top: 20px;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}